@import './libs/fonts';

@import './vars/colors';

@import './blocks/header';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button,
a {
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
}