.header {
    width: 100%;
    height: 73px;
    background-color: $main-dark;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        width: 60px;
        height: 24px;
        svg {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__block {
        width: 50%;
        &_list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            &-item {
                a {
                    color: $main-text;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 12px;
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
    &__right {
        width: 28%;
        // width: 33%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        &_phone {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            text-decoration: none;
        }
        &_translate {
            display: flex;
            align-items: center;
            a {
                color: $main-text;
                font-size: 12px;
                font-weight: 550;
                line-height: 12px;
                letter-spacing: 0.6px;
                text-transform: uppercase;
                text-decoration: none;
                transition: all .3s ease-in-out;
                &:hover {
                    color: #fff;
                }
            }
        }
        &_block {
            display: flex;
            align-items: center;
            &-search {
                display: flex;
                align-items: center;
                input {
                    // Стили инпута
                    border: none;
                    width: 474px;
                    height: 38px;
                    padding: 13px 50px 13px 18px;
                    border-radius: 5px;
                    background: #25292B;
                    // Стили текста
                    color: $gray-font;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 12px;
                    letter-spacing: 0.6px;
                }
                span {
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    svg {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                        path {
                            transition: all .3s ease-in-out;
                        }
                    }
                    &:hover {
                        svg path {
                            fill: #fff;
                        }
                    }
                }
            }
            &-cart {
                display: block;
                width: 32px;
                height: 32px;
                svg {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    path {
                        fill: $main-text;
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover {
                    svg path {
                        fill: #fff;
                    }
                }
            }
            &-user {
                display: block;
                width: 32px;
                height: 32px;
                svg {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    path {
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover {
                    svg path {
                        fill: #fff;
                    }
                }
            }
        } 
    }
}